footer {
  display: block;
  position: fixed;
  bottom: 0;
  text-align: center;
  /*background: blue;*/
  width: 100%;
}

#songinfo {
  /*display:inline-block;*/
  font-size: 30px;
}

#mrfloat {
  position:absolute;
  /*padding: 10px;*/
  display:none;
  border: 1px solid black;
  /*background-color: red;*/
  backgroud-color: white;
  box-shadow: 10px 5px 5px rgba(0,0,0,0.3);
  z-index: 10;
}

html, body {
  height:100%;
  box-sizing: border-box;
}
.container-fluid {
  height:100%;
  /*background: blue;*/
}
.tab-content {
  /*height:100%;*/
  /*background: red;*/
}
.full-size {
  height:100%;
  box-sizing: border-box;
}